<ion-header>

    <ion-toolbar>

        <button [hidden]="isSearchBarVisible" ion-button menuToggle icon-only>
            <ion-icon name='menu'></ion-icon>
        </button>

        <ion-title [hidden]="isSearchBarVisible">{{ pageTitle }}</ion-title>


        <ion-buttons bar-button left icon-only>

            <button hideWhen="ios" [hidden]="!isSearchBarVisible" ion-button (click)="ChangeSearchBarStatus()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>

        </ion-buttons>

        <ion-searchbar hideWhen="ios" [hidden]="!isSearchBarVisible" right debounce="500"></ion-searchbar>

        <ion-buttons bar-button end icon-only>

            <button hideWhen="android" ion-button (click)="AddItem()">
                <ion-icon name="add"></ion-icon>
            </button>

            <button hideWhen="ios" [hidden]="isSearchBarVisible" ion-button (click)="ChangeSearchBarStatus()">
                <ion-icon name="search"></ion-icon>
            </button>

        </ion-buttons>

    </ion-toolbar>

    <ion-searchbar hideWhen="android" debounce="300"></ion-searchbar>

</ion-header>

<ion-content padding>

    <ion-refresher (ionRefresh)="DoRefresh($event)">
        <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="refresh"
            refreshingSpinner="crescent"
            refreshingText="">
        </ion-refresher-content>
    </ion-refresher>

    <button ion-item *ngFor="let item of ItemsVO" (click)="GetItem(item)">
        <ion-avatar item-left>
            <img [src]=item._avatar>
        </ion-avatar>
        {{ item.email }}
    </button>

    <ion-fab bottom right hideWhen="ios">
        <button ion-fab mini (click)="AddItem()">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-fab>

</ion-content>
